.intro {
  margin: 0 10rem;

  h2 {
    padding: 3rem;
  }

  p {
    padding: 2rem;
    margin: 5rem 15rem;
    font-size: 2rem;
  }

  .par-left {
    text-align: left;
  }

  .par-right {
    text-align: right;
  }

  .par-left-two {
    margin: 0 20rem;
  }
}
