.intro {
  margin: 0 10rem;

  h2 {
    padding: 3rem;
  }

  p {
    padding: 3rem;
    // margin: 5rem 15rem;
    font-size: 2rem;
    width: 25vw;
  }

  .par-left {
    text-align: left;
  }

  .par-right {
    text-align: right;
  }

  .par-left-two {
    margin: 0 20rem;
  }

  .intro-container {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .self {
    // margin-left: 150%;
    margin: 3rem;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
}
